@font-face {
  font-family: "Brother1816";
  src: url("/src/assets/fonts/Brother1816-Regular.woff2") format("woff2");
  font-weight: 400;
}

body {
  font-family: "Brother1816", sans-serif;
  overflow: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0; 
  background: #f6f6f6;
  color: #1f1f1f;
}
