.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3a3431;
}

.wrapper h1 {
  font-size: 72px;
  margin: 0;
}

.wrapper p {
  margin: 8px 0 20px;
  color: #777;
}

.btn {
  padding: 10px 18px;
  border-radius: 999px;
  background: #3a3431;
  color: white;
  text-decoration: none;
}
